
@import './color.scss';

:global {

    .md-link,
    .md-link:hover,
    .md-link:active,
    .md-link:visited {
        color: #fff;
        font-size: .8em;
        color: #fff;
        font-size: .8em;
        text-decoration: none;
        display: inline-block;
        padding: 0 0 .2em;
        border-bottom: 1px solid #ccc;
        transition: .2s;

        &:hover {
            color: $mint;
        }
    }
}
